@charset "utf-8";
/* CSS Document */

.indexContainer{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


#logo{
	width: 500px;
	height: 500px;
	align: center;
	display: inline-block;
	border: 2px;
}


#btns{
	display: flex;
justify-content: space-between;
}


#inicioM{
	color: white;
	background-color: black;
	font-size: 23px;
	text-align: justify;
	margin-top: 20px;
}



#btn{
	margin-top: 20px;
	margin-right: 20px;
	width: 200px;
	height: 100px;
	border: 2px;
	border-radius: 5px;
}

#iniciomenu{
	margin-top: 100px;
}

.test{
	width: 1000px;
	height: 600px;
}


.socialIcons{
	display: flex;
	justify-content: space-between;
}

.scroll{
	margin-top: 20px;
}

.scrollItem{
	width: 500px;
	height: 500px;
}

.promoIMG{
	width: 500px;
	height: 500px;
}

.socialIcon{
	width: 300px;
	height: 300px;
}
