
#bodyE{
	background-color:  #8F5E99;
}

p, li{
    font-size: 23px;
    text-align: justify;
}

table, th, td {
   border: 1px solid black;
}

#return{
    text-decoration: none;
}


.collapse{
  cursor: pointer;
  display: block;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}
